html{
    font-size: 62.5%;
    font-size: 16px;/*1 rem =10px*/
}
body{
    background-color: aqua;
    font-family: 'Protest Riot', sans-serif;

}

.contenedor{
    background-color: black;
    border-radius: 1rem;
    width: 87rem;
    margin: 2rem;
    padding: 2rem;
    position: absolute;
    top: 8rem;
}


.navegacion{
    position: fixed;
    background-color: black;
    text-align: center;
    width: 91rem;
    top: 0;
    left: 2rem;
}
h1{
    font-size: 4rem;
    color: aliceblue;
}

.nav{
    background-color: beige;
    font-size: 2rem;
    padding: 1rem 4rem;
    display: block;
    text-align: center;

}
a{
    text-decoration: none;
    padding: 1rem;
}

a:hover{
    background-color: burlywood;
    border-radius: 1rem;
    padding: 0.5rem;
}
h1{text-align: center;}

.target{
    background-color: azure;
    border-radius: 1rem;
    text-align: center;
    width: 38rem;
    padding: 1rem;
    margin: 4rem 1rem 2rem 2rem;
    top: 3rem;
    display: inline-block;
    
}

.img{
    border-radius: 1rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 #000;
    
}


.boton{
    color: beige;
    background-color: black;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 4rem;
    width: 8rem;
}
.boton:hover{
    background-color:antiquewhite;
    color: #000;
}
.contenedor-boton{
    text-align: center;
}

.numeros{
    color: aliceblue;

    text-align: center;
    width: 87rem;
    background-color: aliceblue;
    margin-top: 2rem;
}
